@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap");
html,
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  color: #000000;
  /* @include breakpoint('tablet'){
    background-color: red;
  } */ }

.main {
  overflow: hidden; }

h1 {
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 20px; }

h2 {
  font-size: 32px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
  line-height: 22px; }

a {
  color: #000000;
  text-decoration: none; }

strong {
  font-style: italic; }

.img-wrapper {
  width: 100%; }
  .img-wrapper img {
    width: 100%; }

button:hover, button:focus {
  outline: none; }

header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 55px;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center; }
  header .burger-menu {
    position: absolute;
    top: 0;
    right: 0;
    background: none;
    width: 35px;
    height: 35px;
    border: none;
    margin-top: 10px;
    margin-right: 10px;
    z-index: 2; }
    @media (min-width: 768px) {
      header .burger-menu {
        display: none; } }
    header .burger-menu .menu-open {
      opacity: 1;
      bottom: auto;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%); }
    header .burger-menu .menu-close {
      opacity: 0;
      bottom: auto;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%); }
  header .main-nav {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    opacity: 0;
    z-index: 1; }
    @media (min-width: 768px) {
      header .main-nav {
        opacity: 1;
        height: auto; } }
    header .main-nav .nav-inner {
      font-weight: bold;
      text-transform: uppercase;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; }
      @media (min-width: 768px) {
        header .main-nav .nav-inner {
          flex-direction: row; } }
    header .main-nav .nav-link {
      color: #ffffff;
      font-size: 20px;
      padding: 0.7rem 1rem; }
      @media (min-width: 768px) {
        header .main-nav .nav-link {
          font-size: 14px; } }
  header.active {
    background-image: url("../img/header-bg.png");
    height: 100%; }
    @media (min-width: 768px) {
      header.active {
        background-image: none;
        height: 55px; } }
    header.active .burger-menu {
      right: auto;
      margin-left: 10px; }
      header.active .burger-menu .menu-open {
        opacity: 0; }
      header.active .burger-menu .menu-close {
        opacity: 1; }
    header.active .main-nav {
      opacity: 1; }

.intro {
  width: 100%;
  height: 400px;
  background-color: #000000;
  position: relative;
  z-index: 1;
  margin-bottom: 30px; }
  @media (min-width: 768px) {
    .intro {
      margin-bottom: 100px;
      height: 500px; } }
  .intro .logo-bg {
    width: 100%;
    height: 100%;
    object-fit: cover; }
  .intro .img-wrapper {
    width: 100%;
    bottom: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
    @media (min-width: 768px) {
      .intro .img-wrapper {
        width: 80%;
        max-width: 738px; } }
    .intro .img-wrapper .logo {
      width: 100%;
      margin-top: 40px; }

.game-desc {
  line-height: 22px;
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 100px; }
  @media (min-width: 768px) {
    .game-desc {
      margin-bottom: 200px;
      text-align: left; } }
  .game-desc .game-desc-left {
    text-align: center; }
    @media (min-width: 768px) {
      .game-desc .game-desc-left {
        text-align: left; } }
  .game-desc .game-desc-right {
    display: none;
    text-align: center; }
    @media (min-width: 768px) {
      .game-desc .game-desc-right {
        display: block; } }

.banner {
  height: 400px;
  margin-bottom: 100px; }
  @media (min-width: 768px) {
    .banner {
      height: 500px; } }
  .banner .banner-img {
    object-fit: cover;
    height: 100%;
    width: 100%; }

.movie-desc {
  font-size: 14px;
  line-height: 24px;
  width: 75%;
  margin-left: auto;
  margin-right: auto; }
  @media (min-width: 768px) {
    .movie-desc {
      margin-bottom: 70px; } }
  .movie-desc .img-wrapper {
    width: 100%;
    float: left;
    margin-right: 20px;
    margin-bottom: 20px; }
    @media (min-width: 768px) {
      .movie-desc .img-wrapper {
        width: 300px; } }

footer .footer-top {
  height: 250px; }
  footer .footer-top .footer-top-img {
    width: 100%;
    height: 100%;
    object-fit: cover; }

footer .footer-bottom {
  height: 272px;
  background-image: url("../img/darthvader_2x.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto 272px;
  background-color: #181818;
  color: #9b9b9b; }
  footer .footer-bottom .footer-title {
    display: none;
    text-align: center;
    font-size: 14px;
    margin-bottom: 40px; }
    @media (min-width: 768px) {
      footer .footer-bottom .footer-title {
        display: block; } }
    footer .footer-bottom .footer-title strong {
      font-style: normal; }
  footer .footer-bottom a {
    color: #9b9b9b;
    text-decoration: underline;
    font-size: 12px;
    line-height: 30px; }
  footer .footer-bottom .social {
    margin-top: 50px; }
    @media (min-width: 768px) {
      footer .footer-bottom .social {
        margin-top: 0; } }
    footer .footer-bottom .social .social-title {
      font-size: 12px;
      text-align: center; }
      @media (min-width: 768px) {
        footer .footer-bottom .social .social-title {
          margin-bottom: 10px; } }
    footer .footer-bottom .social .social-links a {
      padding: 0 10px; }
