@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');

html,
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;

  /* @include breakpoint('tablet'){
    background-color: red;
  } */
}

h1 {
  font-size: 1rem;
  font-weight: bold;
}

a {
  color: $black;
  text-decoration: none;
}

.img-wrapper {
  width: 100%;

  img {
    width: 100%;
  }
}
