.banner {
  height: 400px;
  margin-bottom: 100px;
  overflow: hidden;

  @include breakpoint('tablet') {
    height: 500px;
  }

  .banner-img{
      object-fit: cover;
      height: 100%;
      width: 100%;
      // transform: translate(0px, -20%);
  }
}
