.game-desc {
  line-height: 22px;
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 100px;
  
  @include breakpoint('tablet') {
    margin-bottom: 200px;
    text-align: left;
  }

  .game-desc-left{
    text-align: center;

    @include breakpoint('tablet') {
      text-align: left;
    }
  }

  .game-desc-right {
    display: none;
    text-align: center;

    @include breakpoint('tablet') {
      display: block;
    }
  }

}
