header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;

  nav {
    background-color: rgba(0, 0, 0, 0.5);
    font-weight: bold;
    text-transform: uppercase;

    .nav-link {
      color: $white;
      font-size: 14px;
      padding: 0.7rem 1rem;
    }
  }
}
